body {
  overflow: scroll;
  background-image: url("https://qph.ec.quoracdn.net/main-qimg-c525856e9fa44637eb07b1dfd2a8dd7f");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#source {
  color: #ff00c7; /*pink*/
}

#sources {
  color: #ff00c7; /*pink*/
  text-decoration: none;
}

#sources:hover {
  color: #00a5ff; /*blue*/
  text-decoration: none;
}

.txtgreen {
  color: #00ff26 /*green*/
}

.titles {
  font-size: 100px;
}
